/** Media Queries **/

@mixin telefono {
    @media (min-width: $telefono) {
        @content;
    }
}

@mixin tablet-telefono {
    @media (min-width: $tatel) {
        @content;
    }
}

@mixin barra {
    @media (min-width: 630px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin displayGrid($columnas, $espaciado) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin displayFlex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}