// Fuentes
$fuente_principal: 'Atkinson Hyperlegible',
sans-serif;
// Tamaño de Media Queries
$telefono: 500px;
$tatel: 550px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$negro: #1a1b15;
$blanco: #FFFFFF;
$primario:#1d3557;
$secundario:#457b9d;
$terciario:#a8dadc;
// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900